<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{{title}} - Criterion.rs</title>
    {{!-- TODO: Make it look nice --}}
    <style type="text/css">
    </style>
</head>

<body>
<h2>{{title}}</h2>
<div class="absolute">
<table width="100%">
    <tbody>
        <tr>
            <td><a href="pdf.svg"><img src="pdf_small.svg" alt="PDF of Slope" width="{{thumbnail_width}}", height="{{thumbnail_height}}"/></a></td>
            <td><a href="regression.svg"><img src="regression_small.svg" alt="Regression" width="{{thumbnail_width}}", height="{{thumbnail_height}}"/></a></td>
        </tr>
    </tbody>
</table>
<div class="additional_stats">
    <h4>Additional Statistics:</h4>
    <table>
        <thead>
            <th></th>
            <th title="{{confidence}} confidence level">Lower bound</th>
            <th>Estimate</th>
            <th title="{{confidence}} confidence level">Upper bound</th>
        </thead>
        <tbody>
            <tr>
                <td>Slope</td>
                <td>{{slope.lower}}</td>
                <td>{{slope.point}}</td>
                <td>{{slope.upper}}</td>
            </tr>
            {{#if throughput}}
            <tr>
                <td >Throughput</td>
                <td>{{throughput.lower}}</td>
                <td>{{throughput.point}}</td>
                <td>{{throughput.upper}}</td>
            </tr>
            {{/if}}
            <tr>
                <td>R^2</td>
                <td>{{r2.lower}}</td>
                <td>{{r2.point}}</td>
                <td>{{r2.upper}}</td>
            </tr>
            <tr>
                <td>Mean</td>
                <td>{{mean.lower}}</td>
                <td>{{mean.point}}</td>
                <td>{{mean.upper}}</td>
            </tr>
            <tr>
                <td title="Standard Deviation">Std. Dev.</td>
                <td>{{std_dev.lower}}</td>
                <td>{{std_dev.point}}</td>
                <td>{{std_dev.upper}}</td>
            </tr>
            <tr>
                <td>Median</td>
                <td>{{median.lower}}</td>
                <td>{{median.point}}</td>
                <td>{{median.upper}}</td>
            </tr>
            <tr>
                <td title="Median Absolute Deviation">MAD</td>
                <td>{{mad.lower}}</td>
                <td>{{mad.point}}</td>
                <td>{{mad.upper}}</td>
            </tr>
        </tbody>
    </table>
</div>
{{#if additional_plots}}
<div class="additional_plots">
    <h4>Additional Plots:</h4>
    <ul>
    {{#each additional_plots}}
        <li><a href="{{this.url}}">{{this.name}}</a></li>
    {{/each}}
    </ul>
</div>
{{/if}}
</div>
{{#if comparison}}
<h3>Change Since Previous Benchmark</h3>
<div class="relative">
<table width="100%">
    <tbody>
        <tr>
            <td><a href="../both/pdf.svg"><img src="relative_pdf_small.svg" alt="PDF Comparison" width="{{thumbnail_width}}", height="{{thumbnail_height}}"/></a></td>
            <td><a href="../both/regression.svg"><img src="relative_regression_small.svg" alt="Regression Comparison" width="{{thumbnail_width}}", height="{{thumbnail_height}}"/></a></td>
        </tr>
    </tbody>
</table>
<div class="additional_stats">
    <h4>Additional Statistics:</h4>
    <table>
        <thead>
            <th></th>
            <th title="{{confidence}} confidence level">Lower bound</th>
            <th>Estimate</th>
            <th title="{{confidence}} confidence level">Upper bound</th>
            <th></th>
        </thead>
        <tbody>
            <tr>
                <td>Change</td>
                <td>{{comparison.change.lower}}</td>
                <td>{{comparison.change.point}}</td>
                <td>{{comparison.change.upper}}</td>
                <td>(p = {{comparison.p_value}} {{comparison.inequality}} {{comparison.significance_level}})</td>
            </tr>
        </tbody>
    </table>
    {{comparison.explanation}}
</div>
{{#if comparison.additional_plots}}
<div class="additional_plots">
    <h4>Additional Plots:</h4>
    <ul>
    {{#each comparison.additional_plots}}
        <li><a href="{{this.url}}">{{this.name}}</a></li>
    {{/each}}
    </ul>
</div>
{{/if}}
</div>
{{/if}}
</body>
{{!-- TODO Add footer --}}
</html>
